{% extends 'base.html' %}

{% block content %}

<div class="container-fluid mainpage">
    <div class="d-flex-row row">
        <div class="d-flex justify-content-end login">
            <a class="btn btn-outline-light btn-login" href="/login">Log In</a>
        </div>
    </div>

    <div class="h-75 d-flex-row row">
        <form method="POST" action="/start" class="d-flex justify-content-center align-items-end">
            <button class="btn btn-start btn-lg bg-transparent  p-4 btn-">Take the sorting hat quiz</button>
        </form>


    </div>
</div>
{% endblock %}