{% extends 'base.html' %}

{% block content %}

<div class="h-100 container-fluid background">
    <div class="d-flex-row row pt-4 pb-2">
        <h1 class="display-2 d-flex justify-content-center t-20 potter">My Potion Shelf</h>
    </div>

    <div class="container-fluid">
        <div class="row char-section">
            {% if not user.potions %}
            <div class="text-center">
                <p>You have no potions on your shelf. Click search below to add some!</p>
            </div>
            {% endif %}
            {% for pot in user.potions %}
            <div class=" t-20 col-sm-2">
                <div class="card box text-center">
                    <a href="/potions/{{pot.potion.id}}"><img class="card-img-top char-img img-fluid"
                            src="{{pot.potion.img_url}}"></a>
                    <div class="card-body">
                        <p class="card-text-center" style="font-size: .8rem">{{pot.potion.name}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    <div class="d-flex-row row mt-3">
        <div class="d-flex justify-content-center">

            <a class="m-1 btn btn-dark btn-sm" href="/user/{{user.id}}">Back</a>

            <a class="m-1 btn btn-dark btn-sm" href="/potions">Search</a>

        </div>

    </div>


</div>
{% endblock %}