{% extends 'base.html' %}

{% block content %}



<div class="container card mt-5" style="width:60%">
    <div class="d-flex d-flex-row row justify-content-center" style="width:100%">
        <div class="d-flex d-flex-row row" style="width:100%">
            <div class="mt-2 p-0 d-flex justify-content-start col-6">
                <h2>{{potion.name}}</h2>
                <p id="potion-id" hidden>{{potion.id}}</p>
            </div>

            <div class="mt-2 col-6 d-flex justify-content-end" id="potion-like">
                <a href="/potions/{{potion.id}}/add_like"><button class="btn like-btn border-0"><i class="fa fa-heart"
                            style="font-size:2rem"></i></button></a>
            </div>
        </div>
    </div>
    <div class="d-flex d-flex-row row" style="width:100%">
        <div class="justify-content-start">
            <p>Effect: {{potion.effect}}
                <br />
                Characteristics: {{potion.characteristics}}
                <br />
                Difficulty: {{potion.difficulty}}
            </p>
        </div>

    </div>

    <div class="d-flex-row row">
        <div class="d-flex justify-content-start">
            <img class="mg-fluid" src="{{potion.image}}">
        </div>
    </div>


    <div class="d-flex-row row">
        <div class="d-flex justify-content-start">
            <ul>
                <br />
                Ingredients
                {% for item in potion.ingredients %}
                <li>
                    {{item}}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div>
    <a href="/potions/{user.id}/"><button class="btn like-btn border-0">Back</button></a>

</div>
</div>







{% endblock %}