{% extends 'base.html' %}


{% block content %}
<div class="container-fluid">
    <div class="d-flex d-flex-row row mt-3">
        <h2 class="d-flex justify-content-center">{{question.question}}</h2>

        <div class="mt-3 container d-flex justify-content-center">
            <form class="ques-form" action='/response' method="POST">
                {% for choice in question.choices %}

                <div class="row d-flex d-flex-row">

                    <div class="col-12 border border-dark m-2">
                        <p class="p-3 m-0 d-flex justify-content-start align-items-center"><input type="radio"
                                name="answer" value="{{choice}}">{{choice}}
                        </p>
                    </div>

                </div>
                {% endfor %}
                <div class="row d-flex-row">
                    <div class="d-flex justify-content-end p-0">
                        <button class="mt-2 btn btn-dark" type="submit">Submit</button>
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}